* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../media/fondos/marioKart.png") no-repeat center center/cover;
}
.lr-container {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  color: white;
  border-radius: 10px;
  padding: 30px 40px;
}
.lr-container h1 {
  font-size: 36px;
  text-align: center;
}
.lr-container p {
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}
.lr-container .input-contenedor {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0px;
}
.input-contenedor input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: white;
  padding: 20px 45px 20px 20px;
}
.input-contenedor input::placeholder {
  color: white;
}
.input-contenedor i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.input-contenedor .check {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}
.check label input {
  accent-color: white;
  margin-right: 3px;
}
.lr-container .btn {
  width: 100%;
  height: 45px;
  background: white;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  margin-top: 20px;
}

.lr-container .InYRe {
  font-size: 14.5px;
  margin: 20px 0 15px;
}
.lr-container .InYRe p a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}
.lr-container .InYRe a:hover {
  text-decoration: underline;
}

/* Para pantallas pequeñas */
@media (max-width: 480px) {
    .lr-container {
        width: 90%;
        padding: 20px;
    }
}